# HF_TOKEN=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
HF_TOKEN=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
QDRANT_URL=http://localhost:6333
GOOGLE_API_KEY=AQ.Ab8RN6KYgLLGPAKcKAIWs3bOFhp0urKgdyXcWvIsdmnvE2rSRg
# GOOGLE_API_KEY=AIzaSyBrs-kepJ2rJ9tc94XI3rCGcRHvwcu5GaY
GROQ_API_KEY=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
# GROQ_API_KEY=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
TAVILY_API_KEY=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

# Added for production backend
DISEASE_API_URL=http://127.0.0.1:8000
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=smart-agriculture

# Session Memory
SESSION_CHECKPOINTER_BACKEND=sqlite
SESSION_CHECKPOINT_DB_PATH=./storage/checkpoints/langgraph.db
MAX_CONVERSATION_MESSAGES=20
